header {
  height: 80vh;
  color: white;
  background-color: #2A243B;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 8rem;
}

.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-link {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 1px solid #bbade410;
  border-radius: 10px;
  box-shadow: .3rem .3rem .6rem #16131f, 
  -.3rem -.3rem .6rem #493f61;
  transition: 0.3s all;
}

.email-link:hover {
  cursor: pointer;
  background-color: #0278d8;
  box-shadow: .3rem .3rem .6rem #16131f, 
  -.3rem -.3rem .6rem #493f61,
  inset .3rem .3rem .6rem #035ea8, 
  inset -.3rem -.3rem .6rem #4dafff;

}

.greeting {
  font-size: clamp(10px, 1.5vw, 3vw);
}

.name {
  font-size: clamp(14px, 4vw, 5vw);
}

.job-title {
  font-size: clamp(12px, 2.5vw, 4vw);
}

.tech-stack {
  display: flex;
  justify-content: space-evenly;
}

.quote-image {
  height: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: logo-spin infinite 8s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .bubble {
    animation: logo-bubble infinite 3s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-bubble {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}