main {
  min-height: 90vh;
  background-color: #2A243B;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-body {
  padding: 5rem;
}

.about {
  background-color: #0278d8;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  line-height: 1.8;
  align-items: flex-end;
  padding: 3rem;
  border-radius: 1rem;
  text-align: left;
  margin-bottom: 10rem;
}

.main-title {
  align-self: flex-start;
}

.projects {
  background-color: #EA5E94;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.8;
  align-items: flex-start;
  padding: 3rem;
  border-radius: 1rem;
  text-align: left;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

.project-info {
  grid-column: 1 / 2;
}

.project-image {
  height: 100%;
  width: 100%;

  object-fit: cover;
}