main {
  min-height: 90vh;
  background-color: #2A243B;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-body {
  padding: 5rem;
}

.about {
  background-color: #0278d8;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  line-height: 1.8;
  align-items: flex-end;
  padding: 3rem;
  border-radius: 1rem;
  text-align: left;
  margin-bottom: 10rem;
}

.main-title {
  align-self: flex-start;
}

.projects {
  background-color: #af5d37;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.8;
  align-items: flex-start;
  padding: 3rem;
  border-radius: 1rem;
  text-align: left;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

.project-info {
  grid-column: 1 / 2;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  margin: 0;
  margin-bottom: 3rem;
}

a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: 0.3s all;
  color: white;
  padding: 1rem;
  border: 1px solid #af5d374f;
  border-radius: 10px;
  box-shadow: .3rem .3rem .6rem #663620, 
  -.3rem -.3rem .6rem #f7844e;
}

a:hover {
  cursor: pointer;
  color: #ffdc7b;
  background-color: #0278d8;
  box-shadow: .3rem .3rem .6rem #663620, 
  -.3rem -.3rem .6rem #f7844e,
  inset .3rem .3rem .6rem #035ea8, 
  inset -.3rem -.3rem .6rem #4dafff;
}