nav {
  height: auto;
  color: white;
  background-color: #16131f;
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 1rem;
  transition: 0.3s all;
}

.button:hover {
  cursor: pointer;
  color: #ffdc7b;
}

